<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= category.icon %>
  </p>

  <% if @purchases %>
    <% @purchases.each do |purchase| %>
      <%= purchase.name %>:
      $<%= purchase.amount %>
    <% end %>
  <% end %>
  <br>
  <br>
  <%= link_to 'Add Purchase', new_purchase_path%>
</div>
